body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 3rem;
	color: white;
}

hr {
	border-color: #6c757d;
	border-width:2px;
	max-width: 105px;
}

.buffer {
	height: 10rem;
}

.btn {
	font-weight: 700;
	border-radius: 25px;
}

.btn-primary {
	background-color: #6c757d;
	border-color: #6c757d;
	justify-content: center;
}

.btn-primary:hover {
	background-color: #52004E;
	border-color: #52004E;
}

.btn-xl {
	padding: 1rem 2rem;
}

.